
.ant-btn-background-ghost.ant-btn-danger {
    color: #ff4d4f;
    background-color: white !important;
    border-color: #ff4d4f !important;
    text-shadow: none;
}
// .ant-btn-primary:hover, .ant-btn-primary:focus {
//     color: #29b0ff !important;
//     background-color: #fff !important;
//     border-color: #fff !important;
// }
.ant-design-fix {
	.ant-card .ant-card-body {
		padding: 0px !important;
		height: 100%;
	}
}

